<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Channel</th>
          <th>Text</th>
          <th>Image</th>
          <th>Send Time</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
          <td>{{ message.id }}</td>
          <td>{{ message.channel.title }}</td>
          <td>{{ message.text }}</td>
          <td><img *ngIf="message.image"
                   src="{{ message.image }}"
                   style="height: 100px;" /></td>
          <td>{{ message.send_time }}</td>
          <td>
            <a><span class="glyphicon glyphicon-edit"></span></a>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
