<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
    <a class="btn btn-default">A</a>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Channel</th>
          <th>Text</th>
          <th>Image</th>
          <th>Send Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
          <td>{{ message.id }}</td>
          <td>{{ message.channel }}</td>
          <td>{{ message.text }}</td>
          <td><img *ngIf="message.image" src="{{ message.image }}"/></td>
          <td>{{ message.send_time }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
